---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Amazon Bitcoins - Brian Ethier" description="Amazon Bitcoins project by Brian Ethier">
  <h1>Amazon Bitcoins</h1>

  <p>Amazon Bitcoins was the first website to allow people to cash out their Bitcoin to buy Amazon Giftcards (2012-2013). All the user had to do was send Bitcoin to a generated address associated with their account, and they were emailed an Amazon giftcard for the equivalent amount of money.</p>
  <p>I was the first person to integrate with Coinbase's API. I found a bug in it, and even helped their engineers fix it.</p>

  <div class="row">
    <h2>Tools Used</h2>
    <p>Ruby on Rails, API integrations, Bitcoin, Crypto</p>

    <div class="project-image">
      <img src="/images/projects/amazon-bitcoins.png" alt="Amazon Bitcoins homepage" />
    </div>
    <p class="project-image-caption text-center">
      The homepage circa 2013. Look at that exchange rate (ouch)
    </p>
  </div>
</MainLayout>
