---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Google Home Chess Bot - Brian Ethier" description="Google Home Chess Bot project by Brian Ethier">
  <h1>Google Home Chess Bot</h1>

  <p>
    I created a bot which you can play chess against using a Google Home. Using voice commands you are able to issues moves and the Google Home will respond with its move generated from the Stockfish chess engine.
  </p>
  <p>
    <a href="https://github.com/dbe/playChessByVoice" target="_blank">Github link</a>
  </p>

  <div class="row">
    <h2>Tools Used</h2>
    <p>Api.ai, Javascript, Node, Stockfish</p>
  </div>

  <div class="row">
    <div class="project-image">
      <iframe width="100%" height="533" src="https://www.youtube.com/embed/HlnupzDlSGs?start=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="project-image-caption text-center">
      Playing chess against the bot
    </p>
  </div>
</MainLayout>
