---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="ETH.RIP - Brian Ethier" description="ETH.RIP project by Brian Ethier">
  <h1>ETH.RIP</h1>

  <p>ETH.RIP is an art project I built showcasing the ability to provably burn money using the blockchain.</p>
  <p>Users can attach a message when they burn money, making a historic statement which will live on the blockchain forever.</p>
  <p>
    I also wrote an associated piece showcasing the need for skepticism on such websites and explaining the wonderful ability for the user to "Trust but verify" that the website is doing what it claims to be doing:
    <a href="https://medium.com/coinmonks/scamming-in-ethereum-is-easy-56aba1a6d985" target="_blank">Medium Article</a>
  </p>
  <a href="http://eth.rip" target="_blank">ETH.RIP Website</a>

  <div class="row">
    <h2>Tools Used</h2>
    <p>React, ES6, Truffle, Ethereum Blockchain, Solidity</p>

    <div class="project-image">
      <img src="/images/projects/eth_rip.png" alt="ETH.RIP homepage" />
    </div>
    <p class="project-image-caption text-center">
      The homepage for ETH.RIP
    </p>
  </div>
</MainLayout>
