---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Projects - Brian Ethier" description="Brian Ethier's Projects">
  <div class="row">
    <div class="col-md-12">
      <p>
        Programming is not only my career, it is also one of my most cherished passions. Here is a selection of some of my favorite side projects.
      </p>

      <h2>Crypto</h2>
      <ul>
        <li>
          <a href="/experience/projects/burner-wallet">Burner Wallet</a>
          - Web based crypto wallet. Transacted over $100k for 3000 people in a weekend at ETHDenver.
        </li>
        <li>
          <a href="/experience/projects/eth-rip">ETH.RIP</a>
          - An artistic project exploring the ability to provably burn money on the blockchain.
        </li>
        <li>
          <a href="/experience/projects/amazon-bitcoins">Amazon Bitcoins</a>
          - Early service automating trade of bitcoin for Amazon Giftcards. Shutdown by Amazon's lawyers.
        </li>
        <li>
          <a href="/experience/projects/solidcoin">Solidcoin</a>
          - Physical coins with QR codes allowing the user to redeem cryptocurrency
        </li>
      </ul>

      <h2>Consulting Work</h2>
      <ul>
        <li>
          <a href="/experience/projects/rippld">Rippld</a>
          - Architected the data model for a social network, including a Neo4j prototype
        </li>
        <li>
          <a href="/experience/projects/touchpoints">Touchpoints</a>
          - Created the tech stack for a sales retargeting company
        </li>
        <li>
          <a href="/experience/projects/traveljoy">Travel Joy</a>
          - Improved website load times by an order of magnitude for this travel SaaS company
        </li>
      </ul>

      <h2>Misc</h2>
      <ul>
        <li>
          <a href="/experience/projects/chess-chat-bot">Chess Chat Bot</a>
          - A chat bot created for the Google Home to play chess by voice
        </li>
        <li>
          <a href="/experience/projects/connect4-bot-platform">Connect4 Bot Platform</a>
          - A platform for Connect4 AI bots to battle each other.
        </li>
        <li>
          <a href="/experience/projects/saigon-tiger">Saigon Tiger</a>
          - A grocery delivery company in Saigon, Vietnam.
        </li>
      </ul>
    </div>
  </div>
</MainLayout>
