---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Rippld - Brian Ethier" description="Rippld project by Brian Ethier">
  <h1>Rippld</h1>

  <p>
    I was hired by Rippld to architect the data model to be used for their social network. I also did research into scaling options to be considered if they ran up against performance limits of their existing Elastic Search database. I created a proof of concept using neo4j to store social data and allow for efficient queries.
  </p>

  <div class="row">
    <h2>Tools Used</h2>
    <p>Neo4j, Elastic Search, Python</p>

    <div class="project-image">
      <img src="/images/projects/rippld-neo4j.png" alt="A neo4j visualization" />
    </div>
    <p class="project-image-caption text-center">
      A neo4j visualization
    </p>
  </div>
</MainLayout>
