---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Saigon Tiger - Brian Ethier" description="Saigon Tiger project by Brian Ethier">
  <h1>Saigon Tiger</h1>

  <p>Saigon is a grocery delivery company I started while living in Saigon, Vietnam. I realized that Saigon had a robust delivery infrastructure for groceries already, but no easy to use interface for people to access it.</p>
  <p>I made a deal with one of the local grocery chains to fulfill delivery for orders placed on my website. Users would shop online, checkout and an invoice would go directly to the grocery store who would then fulfill and deliver the goods same-day.</p>

  <div class="row">
    <h2>Tools Used</h2>
    <p>Ruby on Rails, Heroku, Postgres</p>

    <div class="project-image">
      <img src="/images/projects/saigon-tiger.png" alt="The Saigon Tiger website" />
    </div>
    <p class="project-image-caption text-center">
      The Saigon Tiger website
    </p>
  </div>
</MainLayout>
