---
import MainLayout from '../../../layouts/MainLayout.astro';
---

<MainLayout title="Solidcoin - Brian Ethier" description="Solidcoin project by Brian Ethier">
  <h1>Solidcoin</h1>

  <p>Solidcoin is a startup I created to produce physical coins with QR codes which allow for the user to redeem stored crytocurrency. The coins were great as promotional tools for crypto companies, and great gifts for crypto enthusiasts.</p>
  <p>
    The coins QR code represents a unique key which allows the user to redeem the coin into their
    <a href="/experience/projects/burner-wallet">Burner Wallet.</a>
  </p>

  <p>
    At ETHDenver, each participant was given a Solidcoin pre-loaded with a custom cryptocurrency used to buy food and art during the event. Read more about the event on my post about localcoins and micro economies:
    <a href="https://medium.com/@david.brian.ethier/localcoins-and-micro-economies-cbc3639b5c5" target="_blank">Medium Article</a>
  </p>

  <div class="row">
    <h2>Tools Used</h2>
    <p>Ethereum Blockchain, ES6, Cryptography</p>

    <div class="project-image">
      <img src="/images/projects/solidcoin.jpeg" alt="Solidcoins made for ETHDenver" />
    </div>
    <p class="project-image-caption text-center">
      Solidcoins made for ETHDenver
    </p>
  </div>
</MainLayout>
