---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Hi. I am Brian Ethier." description="Hi. I am Brian Ethier.">
  <div id="home-intro">
    Hi.
  </div>
  <div class="bio">
    <p>I am Brian Ethier.</p>
    <p>Welcome to my personal site.</p>
  </div>
</MainLayout>
